.download-btn {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 16px;
  padding: 7.5px 10px;
  border-radius: 10px;
  background: linear-gradient(
    62.98deg,
    rgb(67, 233, 123) 0.192%,
    rgb(56, 249, 215) 99.835%
  );
}
